* {
  font-family: Arial
 }

 container {
  margin:10px;
 }

nav {
  background-color: #659acf;
  margin-bottom: 20px;
}

.nav-text {
  margin: 10px;
  text-align: center;
  font-size: 20px;
  color:lightgray;
}

.format-top-link {
  align-items: center;
  display: flex;
  justify-content: center;
}

.motion-text {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.description-text {
  text-align: center;
  font-size: 20px;
}

.align-image-text {
  text-align: center;
  color: #659acf;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -5px;
  font-size: 18px;
}

.align-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.format-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.align-image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.format-image {
  height: 280px;
  width: auto;
}

.center {
  text-align: center;
}

.header {
  font-size: 20px;
}

#start-quiz-button {
  background-color: lightgreen;
}

#question-num {
  font-weight: bold;
}

.quiz-question {
  color: grey;
  margin: 10px 0 20px 0;
}

.correct {
  border: 2px solid lightgreen;
  border-radius: 5px;
  padding: 2px;
}

.incorrect {
  text-decoration: line-through; /* Apply the strikethrough effect */
  text-decoration-color: tomato;
}

.center-exercise-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.format-text {
  margin-top: 10px;
}

.exercise-info {
  font-size: 20px;
  font-weight: bold;
}

.exercise-name-info {
  font-size: 25px;
  font-weight: bold;
}

#exercise_name {
  font-size: 25px;
}

#exercise_motion {
  font-size: 20px;
}

#exercise_muscles {
  font-size: 20px;
}

.center-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 60px;
}

.center-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.format-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.quiz-home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#button-row {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcomeIntro {
  font-size: 26px;
  color: gray;
}

#welcomeTitle {
  font-size: 50px;
}

.homeButtons {
  margin-top: 70px;
}

.quiz-home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#button-row {
  display: flex;
  justify-content: space-between;
}

#result_text {
  margin-bottom: 10px;
}

.answer-option {
  margin: 5px;
}

.table-header {
  font-weight: bold;
}
.general-table {
  border: 1px solid black;
  padding: 8px;
  text-align: center;

.button-description{
  margin-top: 30px;
}

.weight-intro-title{
  font-size: 30px;
  margin-bottom: 25px;
}

.btn-primary{
  background-color: #1E90FF;
  border-color: #1E90FF;
}

.btn-primary:hover{
  background-color: #0041C2;
  border-color: #0041C2;
}

#welcomeImg {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 40%;
}

#completion_status_lower {
  color: gray;
  font-size: 18px;
}

#completion_status_upper {
  color: gray;
  font-size: 18px;
}