{% extends "layout.html" %} {% block content %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'edit_data.js') }}"
></script>

<div class="row">
  <h3 class="col-md-6">Edit Data</h3>
</div>
<br />

<form id="editForm">
  <div class="form-group">
    <label for="title">Museum name:</label>
    <input
      type="text"
      id="title"
      name="title"
      value="{{ data.title }}"
      size="{{ data.title|length }}"
    />
    <small class="form-text text-danger" id="titleError"></small>

    <label for="image">Image link:</label>
    <input type="text" id="image" name="image" value="{{ data.image }}" />
    <small class="form-text text-danger" id="imageError"></small>

    <label for="location">Location:</label>
    <input
      type="text"
      id="location"
      name="location"
      value="{{ data.location }}"
    />
    <small class="form-text text-danger" id="locationError"></small>
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" name="description" rows="4" cols="50">
{{ data.description }}</textarea
    >
    <small class="form-text text-danger" id="descriptionError"></small>
  </div>

  <div class="form-group">
    <label for="student">Student ticket price:</label>
    <input
      type="text"
      id="student"
      name="student"
      value="{{ data.student_admission }}"
    />
    <small class="form-text text-danger" id="studentError"></small>
    <label for="adult">Adult ticket price:</label>
    <input
      type="text"
      id="adult"
      name="adult"
      value="{{ data.adult_admission }}"
    />
    <small class="form-text text-danger" id="adultError"></small>
    <label for="ticket">Ticket price notes:</label>
    <input
      type="text"
      id="ticket"
      name="ticket"
      value="{{ data.fee_notes }}"
      size="{{ data.fee_notes|length }}"
    />

    <small class="form-text text-danger" id="ticketError"></small>
  </div>

  <div class="form-group">
    <label for="website">Website:</label>
    <input
      type="text"
      id="website"
      name="website"
      value="{{ data.website }}"
      size="{{ data.website|length }}"
    />
    <small class="form-text text-danger" id="websiteError"></small>
    <label for="exhibit">Popular exhibits:</label>
    <input
      type="text"
      id="exhibit"
      name="exhibit"
      value="{% for exhibit in data.popular_exhibits %}{{ exhibit }}{% if not loop.last %}, {% endif %}{% endfor %}"
    />
    <small class="form-text text-danger" id="exhibitError"></small>
    <label for="types">Types of art:</label>
    <input
      type="text"
      id="types"
      name="types"
      value="{% for art in data.art_types %}{{ art }}{% if not loop.last %}, {% endif %}{% endfor %}"
    />
    <small class="form-text text-danger" id="typesError"></small>
  </div>

  <input type="hidden" id="dataId" value="{{ data.id }}" />
  <div>
    <input type="submit" class="btn btn-secondary" value="Submit" />
    <input type="button" id="discardChangesBtn" value="Discard Changes" />
  </div>
</form>

<div
  class="modal fade"
  id="discardConfirmationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="discardConfirmationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="discardConfirmationModalLabel">
          Discard Changes Confirmation
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Are you sure you want to discard changes?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No
        </button>
        <button
          type="button"
          class="btn btn-danger"
          id="discardChangesConfirmBtn"
        >
          Discard Changes
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
