{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'view.js') }}"
></script>

<div class="container">
  <div class="row">
    <!-- First Column -->
    <div class="col-md-8">
      <div class="row">
        <h3 class="col-md-8">{{ data.title }}</h3>
        <div class="col-md-4 location secondaryColor text-right">
          {{ data.location }}
        </div>
      </div>
      <img src="{{ data.image }}" alt="{{ data.title }}" class="img-fluid" />
      <p>{{ data.description }}</p>
    </div>

    <!-- Second Column -->
    <div class="col-md-3">
      <h3>Ticket Info</h3>
      <div>
        <span class="secondaryColor">Student Admission Fee:</span> ${{
        data.student_admission }}
      </div>
      <div>
        <span class="secondaryColor">Adult Admission Fee:</span> ${{
        data.adult_admission }}
      </div>

      <p><strong> {{ data.fee_notes }}</strong></p>

      <h3>See More</h3>
      <p><a href="{{ data.website }}">Museum Website</a></p>

      <div class="row">
        <div class="col-md-6 secondaryColor">Types of Art:</div>
        <ul class="col-md-6">
          {% for art in data.art_types %}
          <li>
            <a href="{{ url_for('search_results', query=art) }}">{{ art }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <!-- <div class="row">
        <div class="col-md-6 secondaryColor"><p>Cafe:</p></div>
        <div class="col-md-6">{% if data.cafe %}Yes{% else %}No{% endif %}</div>
      </div> -->
      <div class="row">
        <div class="col-md-6 secondaryColor">Popular Exhibits:</div>
        <ul class="col-md-6">
          {% if data.popular_exhibits %} {% for exhibit in data.popular_exhibits
          %}
          <li>{{ exhibit }}</li>
          {% endfor %} {% else %} N/A {% endif %}
        </ul>
      </div>
    </div>

    <div class="col-md-1">
      <input id="editBtn" type="button" value="Edit" />
    </div>
    <input type="hidden" id="dataId" value="{{ data.id }}" />
  </div>
</div>

{% endblock %}
