{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'weight_intro.js') }}"
></script>

<div class = "container">
  <div class="center">
    <div class="weight-intro-title">
        Don't let gym bros intimidate you with their fancy talk, here's a quick introduction to using weights!
    </div>
  </div>
  <div>
    <ul>
        <li><strong>Rep:</strong> a single execution of an exercise (short for repetition)</li>
        <li><strong>Set:</strong> a collection of reps that you do consecutively before resting</li>
        <li><strong>1-Rep Max:</strong> the maximum amount of weight you can possibly lift for only 1 rep; this means that the weight is strenuous enough that you can't do more than a single rep in a set</li>
        <li><strong>General Rules:</strong>
            <ul>
                <li>you should start with 50%-60% of your 1-rep max to avoid injury</li>
                <li>it is always better to start with less weight and then build up gradually set-by-set</li>
                <li>for most exercise machines, you increase difficulty by increasing weight; however, for the adjusted pull-up machine, you increase difficulty by decreasing weight because this means it is helping you less</li>
                <li>you don't need to complete more than 3-4 sets for each exercise</li>
                <li>if you want to build muscle, focus on more weight but fewer reps (roughly 6-8 reps per set)</li>
                <li>if you want to tone muscle, focus on less weight but more reps (roughly 13-15 reps per set)</li>
            </ul>
        </li>
    </ul>
  </div>
  <div class = "center">
    <div class="button-description"> Click the buttons below to learn about upper body exercises, lower body exercises, or test your knowledge by taking a quiz!</div>

      <div class = "homeButtons">
        <div class = "row text-center">
          <div class="col-4 format-button">
            <button type="button" class="btn btn-primary" id="home_to_upper">Upper Body</button>
          </div>

          <div class="col-4 format-button">
            <button type="button" class="btn btn-primary" id="home_to_lower">Lower Body</button>
          </div>

          <div class="col-4 format-button">
            <button type="button" class="btn btn-primary" id="home_to_quiz">Take Quiz</button>
          </div>
        </div>
      </div>
  </div> 
</div>

{% endblock %}
