{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'welcome.js') }}"
></script>

<div class = "container">
  <div id="welcomeIntro">
    <h3>Welcome!</h3>
    <div>Gym guide!</div>

    <div class = "row">
      <div class="col-2 format-button">
        <button type="button" class="btn btn-primary" id="home_to_upper">Upper Body</button>
      </div>

      <div class="col-2 format-button">
        <button type="button" class="btn btn-primary" id="home_to_lower">Lower Body</button>
      </div>

      <div class="col-2 format-button">
        <button type="button" class="btn btn-primary" id="home_to_quiz">Take Quiz</button>
      </div>

    </div>
  </div> 
</div>

{% endblock %}
