{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'welcome.js') }}"
></script>

<div class = "container">
  <div class = "center">
    <div id="welcomeTitle"> Welcome to Gym Guide!</div>
    <div id = "welcomeIntro">Learn how to recognize what gym machines exercise what muscle</div>

    <div> Click the buttons below to learn about upper body exercises, lower body exercises, or test your knowledge by taking a quiz!</div>

      <div class = "homeButtons">
        <div class = "row text-center">
          <div class="col-4 format-button">
            <button type="button" class="btn btn-primary" id="home_to_upper">Upper Body</button>
          </div>

          <div class="col-4 format-button">
            <button type="button" class="btn btn-primary" id="home_to_lower">Lower Body</button>
          </div>

          <div class="col-4 format-button">
            <button type="button" class="btn btn-primary" id="home_to_quiz">Take Quiz</button>
          </div>
        </div>
      </div>
  </div> 
</div>

{% endblock %}
